#parse('templates/header.vm')

<h3>Tracks <small>($!totalTracks Total)</small></h3>

<div style="padding: 12px">
    <form>
        <b>Search </b>
        <input type="text" placeholder="Search by track, album or artist name..."
               name="q"
               value="$!web.param('q')">
        <a href="/tracks/search">Advanced Search >></a>
    </form>
</div>

<table>
    <thead>
    <tr>
        <th><a href="?o=tracks.TrackId">TrackId</a></th>
        <th><a href="?o=tracks.Name">Name</a></th>
        <th><a href="?o=AlbumTitle">Album</a></th>
        <th><a href="?o=ArtistName">ArtistName</a></th>
        <th><a href="?o=Milliseconds">Milliseconds</a></th>
        <th><a href="?o=Bytes">Bytes</a></th>
        <th><a href="?o=tracks.UnitPrice">UnitPrice</a></th>
    </tr>
    </thead>
    <tbody>
        #foreach( $track in $tracks )
        <tr>
            <td><a href="/tracks/$track.TrackId">$track.TrackId</a></td>
            <td>$!track.Name</td>
            <td>$!track.AlbumTitle</td>
            <td>$!track.ArtistName</td>
            <td>$!track.Milliseconds</td>
            <td>$!track.Bytes</td>
            <td>$!track.UnitPrice</td>
        </tr>
        #end
    </tbody>
</table>

$web.pagingWidget($tracks)

<a href="/tracks/new">[Create New Track]</a>

#parse('templates/footer.vm')
