#parse('templates/header.vm')

<h2>Customer</h2>

<table>
    <thead>
    <tr>
        <th>Property</th>
        <th>Value</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>FirstName</td>
        <td>$!customer.FirstName</td>
    </tr>
    <tr>
        <td>LastName</td>
        <td>$!customer.lastName</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>$!customer.email</td>
    </tr>
    <tr>
        <td>Rep</td>
        <td><a href="/employees/$!customer.SupportRepId">$!customer.SupportRep.Email</a> </td>
    </tr>
    </tbody>
</table>

##<h4>Invoice Items</h4>
##<table>
##    <thead>
##    <tr>
##        <th>InvoiceLineId</th>
##        <th>TrackId</th>
##        <th>UnitPrice</th>
##        <th>Quantity</th>
##        <th>Track</th>
##        <th>Album</th>
##        <th>Artist</th>
##    </tr>
##    </thead>
##    <tbody>
##        #foreach( $item in $invoice.InvoiceItems )
##        <tr>
##            <td>$!item.InvoiceLineId</td>
##            <td>$!item.TrackId</td>
##            <td>$!item.UnitPrice</td>
##            <td>$!item.Quantity</td>
##            <td>$!item.Track.Name</td>
##            <td>$!item.Track.Album.Title</td>
##            <td>$!item.Track.Artist.Name</td>
##        </tr>
##        #end
##        $web.pagingWidget($invoice.InvoiceItems)
##    </tbody>
##</table>

<a href="/customers/$customer.CustomerId/edit">[Edit Customer]</a>
<a href="/customers/$customer.CustomerId/delete">[Delete Customer]</a>


#parse('templates/footer.vm')
